.next
.git
.gitignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
*.pem
.vercel
.idea
.vscode/*.log
coverage
dist
build
*.swp
*.swo
*~
.cache
.eslintcache
.prettier-cache
